* {
    box-sizing: border-box;
    /* font-family: Raleway; */
    color: #777;

}



html,
body {
    margin: 0;



}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;

    /* color: white; */
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    /* font-weight: lighter; */
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.main-header {
    /* background-color: rgba(0, 0, 0, .6); */
    /* background-repeat: no-repeat; */

    background-image: url("https://store.fcbarcelona.com/medias/Banner-Desktop.jpg?context=bWFzdGVyfHJvb3R8ODU2NTh8aW1hZ2UvanBlZ3xoNDYvaGExLzg5NTI1MTU0NjExNTAvQmFubmVyX0Rlc2t0b3AuanBnfGU4OTMwYTM0N2MyOTE5NDJhNTA5ZDNkMWU4MjU1ZDcxYmYxNDc4M2QxYWQ4ZmM0ZTlhZDM1NmVlNzZmYTkxNTU");
    background-size: cover;
    padding-bottom: 130px;
}

.main-h1 {
    margin: auto;
    width: 90%;
    padding-top: 100px;
    font-size: 4em;
    font-weight: normal;
    color: white;

}

.container {

    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em;
}

.section-header {

    font-weight: normal;

    text-align: center;
    font-size: 2em;
    padding-bottom: 50px;
}

.about-img {
    float: right;
    margin: 25px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #181733;
    /* color: white; */
    padding-bottom: 0%;

}

.footer-h3 {
    color: white;
    font-size: 1.5em;
    padding-left: 10%;

}

footer ul {
    flex-grow: 1;
    text-align: end;
    padding-right: 10%;

}

footer li {
    display: inline-block;
    padding: 1em;


}

footer li :hover {

    background-color: whitesmoke;
}

section img {
    width: 20vh;
}

.game_bord ul {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

}

li:first-child {
    font-weight: bold;
}

li {
    display: inline-block;
    padding-right: 3em;

}

.game_bord button {
    background-color: blue;
    color: ghostwhite;
}

.shop-item {
    margin-right: 3px;
    margin-bottom: 15px;
}

.shop-item-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #333;
    margin-bottom: 3px;
}

.shop-item-image {
    height: 250;
    width: 160px;

}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 1px;
}

.shop-item-price {
    padding-right: 2px;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
}

.cart-row {
    display: flex;

    /* justify-content: space-between; */
}

.cart-header {
    font-size: 1.25em;
    color: #333;

}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-row img {
    width: 45px;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
}

.cart-row button {
    color: white;
    background-color: rgb(79, 79, 247);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    height: 34px;
    width: 80px;
}

.cart-row button:hover {
    background-color: rgb(165, 165, 245);
}

.cart-row input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;

}

/* .cart-row:last-child */
.l {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.l .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {

    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}




/*
cart-row last???
לעצב את הכיתוב ברצלונה ולייחד אלמנט כללי בשביל זה 
 */