<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/s.css" />
    <title>about</title>
</head>

<body>
    <header class="main-header-about  bg-image    bg-image p-5   ">
      


        <nav class="nav1">
            <ul>
                <!-- <li><a href="cart.html">CART</a></li> -->
                <li><a href="home">HOME</a></li>
                <li><a href="about">ABOUT</a></li>

                <li><a href="/">STORE</a></li>
            </ul>
        </nav>
        <!-- <span class="sign">
            <form action="/signin" method="get"><button>signin</button></form>
            <form action="/signup" method="get"><button>signup</button></form>
            </span> -->
        <h1 class="main-h1  ">FC Barcelona
        </h1>
    </header>

    <section class="container">
        <h2 class="section-header" >Game board:</h2>
        <div class="game_bord"> 
        <ul>
            <li>jul 16</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 16</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 16</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 12</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 16</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 06</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 26</li>
            <li>Barcelona-heifa</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 10</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>aug 19</li>
            <li>Barcelona-telaviv</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <ul>
            <li>jul 16</li>
            <li>Barcelona-berlin</li>
            <li><button class "btn">buy ticket</button></li>
        </ul>
        <!-- <div class="row"><b>jul 16</b><span>Barcelona-telaviv</span><button>buy ticket</button></div>
        <div><b>jul 19</b><span> heifa-Barcelona</span><button>buy ticket</button></div>
        <div><b>jul 23</b><span> Barcelona-PSZ</span><button>buy ticket</button></div>
        <div><b>jul 25</b><span> Barcelona-berlin</span><button>buy ticket</button></div>
        <div><b>aug 3</b><span> telaviv-Barcelona</span><button>buy ticket</button></div> -->
</div>
    </section>
    <footer class="main-footer">
        <h3 class="footer-h3">Barcelona</h3>
        <ul>
            <li><img src="images/Youtube Logo.png"></li>
            <li> <img src="images/Spotify Logo.png"></li>
            <li><img src="images/Facebook Logo.png"></li>
        </ul>
    </footer>

</body>

</html>