<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="store.js" async></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
 body{
    margin-top: 3%;
    margin-left: 3%;
    background-color: rgba(235, 235, 236, 0.39);
 }
 .container{
    margin: 0 auto;
         max-width: 900px;
        padding: 77px;     
      
        
        
    padding: 0 2em;
    text-align:start;
 

    }
    .row-add{
        margin-top: 10px;
        align-items: center;


    }
 
</style>

    <title>Document</title>
</head>
<body>
    <ul>
        <dl><a href="/">  to store</a></dl>
    </ul>
    <h3>Admin page</h3>
    <div class="list-group container">
    
        <a href="/new" class="list-group-item  ">Adding a product</a>
        <a href="/new/remove" class="list-group-item  ">Remove a product</a>
        <a href="#" class="list-group-item  "">Edit product</a>
       </div>
       
</body>
</html>