<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>
<style> 
Body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: gry;
}
button { 
       background-color: blue; 
       width: 100%;
        
        padding: 15px; 
        margin: 17px 0px; 
        
          } 
  
 input   { 
        width: 100%; 
        margin: 8px 0;
        padding: 12px 20px; 
         box-sizing: border-box; 
    }
 button:hover { 
        opacity: 0.7; 
    } 
  
      
   
 .container { 
    margin: 0 auto;
         max-width: 40%;
        padding: 77px; 
        background-color: black;
        border-radius: 30px;
    } 
</style> 


</head>  
<body>  
    <ul>
        <li><a href="/"><h2>  to store</h2></a></li>
    </ul>
    <center> <h1>   signup  </h1> </center> 
    <form action="/signup" method="post"  >
        <div class="container"> 
            <label>Username : </label> 
            <input type="email" placeholder="Enter Username" name="email" required>
            <label>Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button> 
            <p style="color: #393f81;">you have an account? <a href="/signin"
                style="color: #393f81;">login here</a></p>
       
           
        </div> 
        
    </form>   
    
</body>   
</html>

 