* {
    box-sizing: border-box;
     color: #03045e;

}



html,
body {
    margin: 0;
    padding: 0;
    width: 100%;    
    height: 100%;

}
.sign{
    display:inline-flex;
      
}
.sign button{
    background-color: #1f22d0;
    border-radius: 8px;
    font-size: 20px;
 
}
.sign button:hover{
    background:rgb(95, 94, 94);
}
@media  (max-width: 800px) {
    .sign button {
    font-size: 12px;
    }
  }

.nav1 ul {
    margin: 0;
}

.nav1 li {
    display: inline;
}

.nav1 a {
    display: inline-block;
    text-align: center;
     padding: .5em;
    color: #b0b0b4;

     text-decoration: none;
}
@media  (max-width: 800px) {
    .nav1 a{
        display:block;
        text-align: start;
        padding: 0em;
font-size: 10px;        


    }
  }



    .nav1 {
        text-align: center;
        font-size: 1.1em;
         border-bottom: 1px solid rgba(255, 255, 255, .3)
    }
    @media  (max-width: 800px) {
        .nav1 {     
            border-bottom:none
        }
    }
.nav1 li {
 }

.nav1 a:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

/* @media (min-width: 950px) {
    footer h2 {
        font-size: 1.5rem;
    }
} */
.main-header {
    /* background-color: rgba(0, 0, 0, .6); */
    /* background-repeat: no-repeat; */
    
    /* background-image: url("https://store.fcbarcelona.com/medias/Banner-Desktop.jpg?context=bWFzdGVyfHJvb3R8ODU2NTh8aW1hZ2UvanBlZ3xoNDYvaGExLzg5NTI1MTU0NjExNTAvQmFubmVyX0Rlc2t0b3AuanBnfGU4OTMwYTM0N2MyOTE5NDJhNTA5ZDNkMWU4MjU1ZDcxYmYxNDc4M2QxYWQ4ZmM0ZTlhZDM1NmVlNzZmYTkxNTU"); */
    background-image: url("https://pbs.twimg.com/media/FWf6nzvX0AEnX6T?format=jpg&name=900x900");
    background-size:cover;

    margin-bottom: 2rem;
    height: 100%;
        background-repeat: no-repeat;
        



}
@media  (max-width: 800px) {
    .main-header {
    background-size:contain;
    height: 100%;
    margin-bottom: 0;

    }
  }

  /* .header-image {
    position: absolute;
    background: url("https://store.fcbarcelona.com/medias/Banner-Desktop.jpg?context=bWFzdGVyfHJvb3R8ODU2NTh8aW1hZ2UvanBlZ3xoNDYvaGExLzg5NTI1MTU0NjExNTAvQmFubmVyX0Rlc2t0b3AuanBnfGU4OTMwYTM0N2MyOTE5NDJhNTA5ZDNkMWU4MjU1ZDcxYmYxNDc4M2QxYWQ4ZmM0ZTlhZDM1NmVlNzZmYTkxNTU");
    object-fit: cover;
    inset: 0;
  } */


.main-h1 {
    margin: auto;
    width: 90%;
    padding-top: 40px;
    font-size: 3em;
    font-weight: normal;
    color: white;

}
  @media  (max-width: 800px) {
    .main-h1 {
        margin: 0;
        padding-top: 10px;

    }
  }
.btn-category{
    display:inline-flex;
 
}
.btn-category button{
    font-size: 30px;
    background-color:rgb(177, 176, 176);
     color: aliceblue;
     border: 0.03px solid rgb(134, 132, 132);
     
}
.btn-category button:hover{
    background-color:#777;

}

.container {

    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;

}

.section-header {

    font-weight: normal;

    text-align: center;
    font-size: 3em;
    border-bottom: 1px solid black;

}

.about-img,
video {


    vertical-align: middle;


}

.thumbinner {

    float: right;
    clear: right;
    border: #777 solid 1px;
    margin: 15px;
    margin-right: 5px;

}

.thumbinner p {
    text-align: center;
    font-size: small;
}


.text-about {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 10%;
    text-align: justify;
}

.main-footer {
    display: flex;
    align-items: center;
    background-color: #181733;
    /* color: white; */
    padding-bottom: 0%;
    height: 150px;
    font-size: 14px;
 
}

.footer-h3 {
    color: white;
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 1%;

}

footer ul {
    flex-grow: 1;
    text-align: end;
    padding-right: 10%;

}

footer li {
    display: inline-block;
    padding: 1em;
    color: azure;



}

footer li :hover {

    background-color: whitesmoke;
}

.nav-footer {
    display: inline-flex;
    font-size: px;
    vertical-align: text-bottom;
}

section img {
    width: 20vh;
}

.game_bord ul {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

}

 

li {
    display: inline-block;
    padding-right: 3em;

}

.game_bord button {
    background-color: blue;
    color: ghostwhite;
    border-radius: 10px;
}

.game_bord button:hover {
    background-color: rgb(125, 125, 235);
}

.shop-item {
    margin-right: 3px;
    margin-bottom: 35px;
}

.shop-item-title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    color: #03045e;
    margin-bottom: 3px;
    width: 160px;
    height: 40px;
}

.shop-item-image {
    border-radius: 10px;
    height: 220;
    width: 160px;

}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 1px;
}

.shop-item-price {
    padding-right: 2px;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
}
.shop-item-button{
    background-color:#03045e ;
    /* border: 0.04px solid  gainsboro; */
    border-radius: 8px;
    color: aliceblue;
    /* font-size: 13px; */
    /* padding: 10px; */
    /* height: 7px; */
}
.shop-item-button:hover{
    background-color: rgb(193, 189, 189);
}

.cart-row {
    display: flex;

    /* justify-content: space-between; */
}

.cart-header {
    font-size: 1.25em;
    color: #333;

}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-image {
    width: 45px;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.btn-remove {
      border: none;
    border-radius: .3em;
    font-weight: bold;
    height: 34px;
    width: 80px;
    border-radius: 7px;
}

.btn-remove:hover {
    background-color: rgb(139, 139, 140);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;

}

 

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}




.cart-total-title {

    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    border-radius: 10px;
}

.container-total {
    max-width: 700px;
}



 